.gradient {
    z-index: -10;
    position: absolute;
    --speed: 3s;
    --easing: cubic-bezier(0.9, 0.9, 0.9, 0.8);
    width: var(--size);
    height: var(--size);


    animation: rotate var(--speed) var(--easing) infinite;
    border-radius: 100%;
}

.obj1 {
    --size: 300px;
    top: -25%;
    right: -40px;
    background-image: linear-gradient(hsl(221, 82%, 22%), hsl(184, 100%, 50%));
    filter: blur(calc(var(--size) / 3));

}



.obj3 {
    --size: 300px;
    top: 80%;
    filter: blur(calc(var(--size) / 3));
    left: -80px;
    background-image: linear-gradient(hsla(192, 82%, 46%, 0.014), hsl(184, 100%, 50%));
    filter: blur(calc(var(--size) / 3));

}

.obj4 {
    --size: 300px;
    top: 110%;
    right: -40px;
    filter: blur(calc(var(--size) / 4));
    background-image: linear-gradient(hsla(221, 82%, 22%, 0), hsl(184, 100%, 50%));
    filter: blur(calc(var(--size) / 3));

}

.obj5 {
    --size: 300px;
    top: 180%;
    left: -10%;
    background-image:linear-gradient(hsla(221, 82%, 22%, 0), hsl(189, 73%, 37%));
    filter: blur(calc(var(--size) / 5));

}




@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}