.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .icon {
        width: 200px;
        border-radius: 100%;
        mix-blend-mode: difference;
        /* Modo de mesclagem de fundo */
    }

    .banner-descricao {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 60%;

        p {

            .condicional-br {
                display: none;
            }
            span {
                color: rgb(192, 46, 192);
                font-weight: 600;
            }
        }

        h1 {
            background-image: linear-gradient(to left, rgb(167, 38, 184)10%, rgb(38, 19, 150) 80%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: white;
            border-right: 3px solid rgba(255, 255, 255, 0.75);
            font-size: 2.5em;
            animation: blinkCursor 2s steps(40) infinite normal,
                typing 2.5s steps(40) 1s normal both;
            overflow: hidden;
            white-space: nowrap;

        }

    }

    .habilidades {

        padding: 3em 0;

        ul {
            display: flex;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                margin: 0 15px;
                position: relative;
                padding: .2em 1em;
                text-align: center;
                line-height: 63px;
                background: rgba(255, 255, 255, 0.03);
                border-radius: 40px;
                font-size: 30px;
                color: #666;
                transition: .5s;
                box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.03);

                i {
                    width: 30px;

                }





            }

            #html {
                color: rgba(190, 106, 10, 0.637);
            }

            #css {
                color: rgba(26, 72, 172, 0.808);
            }

            #js {
                color: rgba(255, 255, 0, 0.644);
            }

            #git {
                 color: rgb(172, 81, 28);
            }

            #sass {
                color: rgba(168, 21, 168, 0.74);
            }

            #figma {
                color: rgba(255, 0, 200, 0.555);
            }
        }

    }

    
    .seta {
        margin-top: 2em;
        animation: float 2s infinite ease-in-out;
    }


}

@media (max-width: 900px) {
    .banner {
        .banner-descricao {
            width: 100%;

            h1 {
                font-size: 2em;
            }
        }
    }

}

@media (max-width: 500px) {

    .banner {
        .banner-descricao {
          
            h1 {
                font-size: 1.5em;
            }
        }
    }
    .habilidades {
        ul {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
        
        }
    }
}

/*---------animação da tag h1 - Layse Gabrielly -----------*/

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 15em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}


