header {
    display: flex;
    padding: 1.5em 4rem;
    justify-content: space-between;
    align-items: center;
    font-size: .9em;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;


    img {
        width: 30px;
        transition: transform 1s ease-in-out;

        &:hover {
            transform: rotate(360deg);
        }
    }

    nav {
        display: flex;
        position: relative;
        align-items: center;
        width: fit-content;
        gap: 2rem;
        margin-right: -6rem;

        justify-content: space-between;
        transition: 0.5s;

        a {
            padding-bottom: 2px;
            font-weight: 400;
            position: relative;
            transition: .5s;


        }


        a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 5px;
            bottom: 0;
            left: 0;
            background-color: var(--lg-cor-destaque);
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        a:hover {
            color: rgb(255, 255, 255);
            transform: translateY(3px);
        }

        a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }

    .contate-me {
        padding: .5em 1.5em;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.11);
        transition: 1s;
        box-shadow: 0 0 20px #00000086;
        text-align: center;
        background-size: 200% auto;
        background-image: linear-gradient(to right, #097aafe5 0%, #0734c7 51%, #1e3ab9 100%);

        &:hover {
            background-position: right center;
            transform: translateY(5px);
            box-shadow: none;

        }
    }

}

@media (max-width:700px) {
    header {
        padding: 1rem;

        nav {
            display: none;
        }


    }
}